flows.json
[{"id":"6da83f4b.8a3a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c3304dd.7bdeab","type":"http request","z":"6da83f4b.8a3a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":374.6000556945801,"y":138.60000228881836,"wires":[["20688119.6a123e"]],"l":false},{"id":"4241c448.735c6c","type":"ui_form","z":"6da83f4b.8a3a8","name":"","label":"life expectancy prediction","group":"7da0a750.227578","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI ","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":162.60000228881836,"y":345.40000438690186,"wires":[["6b01f44b.7b25fc"]],"l":false},{"id":"6b01f44b.7b25fc","type":"function","z":"6da83f4b.8a3a8","name":"pre token","func":"//make user given values as a global variable\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to recieve a token\nvar apikey=\"OWMmC9pf789YcZhZBQ0ArSnPiH2YfezPDYZlyUJlLl33\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":258.6000061035156,"y":237.80001831054688,"wires":[["c3304dd.7bdeab"]],"l":false},{"id":"20688119.6a123e","type":"function","z":"6da83f4b.8a3a8","name":"","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"bd02360b-6ab7-4eeb-a375-c1dcb34f17a2\"\nmsg.headers={'Content-Type': 'application/json', \"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a= global.get(\"a\");\nvar b= global.get(\"b\");\nvar c= global.get(\"c\");\nvar d= global.get(\"d\");\nvar e= global.get(\"e\");\nvar f= global.get(\"f\");\nvar g= global.get(\"g\");\nvar h= global.get(\"h\");\nvar i= global.get(\"i\");\nvar j= global.get(\"j\");\nvar k= global.get(\"k\");\nvar l= global.get(\"l\");\nvar m= global.get(\"m\");\nvar n= global.get(\"n\");\nvar o= global.get(\"o\");\nvar p= global.get(\"p\");\nvar q= global.get(\"q\");\nvar r= global.get(\"r\");\nvar s= global.get(\"s\");\nvar t= global.get(\"t\");\n\n//send the user values to service endpoint\n\nmsg.payload=\n{\"fields\":[\"Year\",\"Status\", \"Adult Mortality\",\n\"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\",\n\"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n\"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\",\n\" thinness  1-19 years\", \" thinness 5-9 years\",\n\"Income composition of resources\", \"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":482.60003662109375,"y":229.80001831054688,"wires":[["57211aae.57ffb4"]],"l":false},{"id":"57211aae.57ffb4","type":"http request","z":"6da83f4b.8a3a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bd02360b-6ab7-4eeb-a375-c1dcb34f17a2/deployments/447fd2ba-6267-4aee-a8ea-2479c06be6d2/online","tls":"","persist":false,"proxy":"","authType":"","x":589.0000085830688,"y":312.00000381469727,"wires":[["c527194c.e60948","3477251.ed809da"]],"l":false},{"id":"c527194c.e60948","type":"debug","z":"6da83f4b.8a3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":767.6000366210938,"y":401,"wires":[],"l":false},{"id":"3477251.ed809da","type":"function","z":"6da83f4b.8a3a8","name":"","func":"msg.payload=msg.payload.values[0][0];\n\nreturn msg;","outputs":1,"noerr":0,"x":681.6000366210938,"y":160,"wires":[["a5b2c64a.b9b9f8","7f029da8.2a5154"]],"l":false},{"id":"a5b2c64a.b9b9f8","type":"debug","z":"6da83f4b.8a3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":848.6000366210938,"y":105,"wires":[],"l":false},{"id":"7f029da8.2a5154","type":"ui_text","z":"6da83f4b.8a3a8","group":"7da0a750.227578","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":880.0000133514404,"y":269.00000381469727,"wires":[],"l":false},{"id":"7da0a750.227578","type":"ui_group","z":"","name":"Default","tab":"dcf1b00.1af025","order":1,"disp":true,"width":"6","collapse":false},{"id":"dcf1b00.1af025","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]